html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', Sans;
  font-size: 13px;
  background-color: black;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  position: absolute;
}

#render-target {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
